<div data-role="page" id="capture" data-theme="a">
<div data-theme="a" data-role="header">
  <style>
    .topbar {
      float:right;
      padding:14px;
      font-size:14px;
      font-weight:normal;
    }
  </style>
  <% if logged_in? && current_user.calibrations.length == 0 %><span class="topbar">To calibrate, <a href="http://publiclab.org/wiki/spectral-workbench-calibration" target="_blank">save a CFL spectrum</a>.</span><% end %>
  <span style="color:#aaa;" class="topbar" id="readout"></span>
  <h3 class="header" style="text-align:left;margin-left:15px;">
    <img src="/images/spectralworkbench.png" /> 
    <a style="margin-left:3px;color:white;text-decoration:none;" id="home" data-theme="b" href="/" target="_blank">SpectralWorkbench</a>
  <% if params[:action] == "match" %>- <span style="font-weight:normal;">Matching in set "<i><%= @set.title %></i>"</span><% end %>
  </h3>
</div>

<div data-role="content" class="content" style="padding: 15px">

  <div id="graph" style="width:100%;height:200px;"></div>
  <br />
  <canvas style="width:100%;height:100px;" id="canvas"></canvas> 

  <span id="match"></span>

  <% if params[:action] == "match" %>
    <a data-role="button" data-theme="a" href="javascript:void()" onClick="$W.match();">Match</a>
    <a id="saveSpectrum" data-role="button" data-transition="fade" data-theme="d" href="#save" data-panel="main" onClick="$W.saveSpectrum();">Save</a>
  <% else %>
    <% if logged_in? %>
    <a id="saveSpectrum" data-role="button" data-transition="fade" data-theme="a" href="#save" data-panel="main">Save</a>
    <script>$('#saveSpectrum').bind("click",function() {$W.saveSpectrum()})</script>
    <% else %>
    <p>You must be <a href='/login'>logged in</a> to save spectra.</p>
    <% end %>
  <% end %>

    <% if logged_in? %>
      <div class="alert error"><b>Warning:</b> due to an error in the printed instructions, the webcam of your Desktop Spectrometry Kit may need to be refocused. <a href="http://publiclab.org/wiki/spectral-workbench-help#the-spectrum-image-is-blurry-no-sharp-peaks">Read more &raquo;</a></div>
  <% else %><p><a href="#login">Log in</a> to use a recent calibration</p><% end %>

  <p>By uploading your data, you agree to release it under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero license</a></p>

</div>
</div>
