<div id="capture" class="tab-pane">

  <div class="span2" style="margin-left:0;margin-bottom:20px;">

    <div class="hidden-phone">
      <a class="btn btn-primary btn-large" style="margin-bottom:4px;width:80%;" data-toggle="tab" href="#save" onClick="$W.saveSpectrum();"><i class="icon-white icon-save"></i> Save</a>
      <a class="btn btn-inverse btn-large" style="margin-bottom:8px;width:80%;" onClick="window.open($W.canvas.toDataURL(),'_newtab').focus()"><i class="icon-white icon-download"></i> Download</a>
    </div>

    <div class="tool-pane" id="tool-pane">
 
      <p><small><b>ADJUSTMENTS</b></small></p>
      <div class="btn-group toolbar" data-toggle="buttons-checkbox" style="margin-bottom:5px;">

        <a id="geotag-btn" rel="tooltip" title="Geocode" class="btn btn-inverse active" onClick="$('#geotag-btn').button('toggle');$('#geotag').val('true'!=$('#geotag').val());$W.geolocate()"><i class="icon-white icon-map-marker"></i></a>

        <a rel="tooltip" title="Rotate video" class="btn btn-inverse" onClick="$W.toggle_rotation()"><i class="icon-white icon-repeat"></i></a>
        <a rel="tooltip" title="Flip video horizontally" class="btn btn-inverse" onClick="$W.flip_horizontal()"><i class="icon-white icon-resize-horizontal"></i></a>
        <a rel="tooltip" title="Scale video" class="btn btn-inverse" onClick="$W.scale_h = parseFloat(prompt('Enter a horizontal scaling factor (default is 1):'))"><i class="icon-white icon-fullscreen"></i></a>
      </div>
 
      <p><small><b>TOOLS</b></small></p>
      <div class="btn-group toolbar" style="margin-bottom:5px;">
        <a rel="tooltip" title="Scripting" class="btn btn-inverse" href="#macros" data-toggle="tab"><i class="icon-white icon-file-alt"></i></a>
        <a href="#compare" data-toggle="tab" rel="tooltip" title="Compare" class="btn btn-inverse"><i class="icon-white icon-columns"></i></a>
        <a rel="tooltip" title="Find matches" class="disabled btn btn-inverse"><i class="icon-white icon-magnet"></i></a>
      </div>
 
      <p><small><b>DISPLAY</b></small></p>
      <div class="btn-group toolbar" data-toggle="buttons-radio">
        <a rel="tooltip" title="Default mode" class="btn btn-inverse" onClick="$W.toggle_mode()"><i class="icon-white icon-circle-blank"></i></a>
        <a rel="tooltip" title="RGB mode" class="btn btn-inverse" onClick="$W.toggle_mode()"><i class="icon-white icon-adjust"></i></a>
        <a rel="tooltip" title="Combined readout (beta)" class="btn btn-inverse" onClick="$W.show_combined()"><i class="icon-white icon-list-ul"></i></a>
      </div>

    </div>

  </div>

  <div class="span10">

    <div id="graph" style="width:100%;height:200px;margin:10px 0;"></div>
    <canvas style="width:100%;height:100px;" id="canvas"></canvas> 
 
    <div id="message-area" style="display:none;margin-left:6px;" class="alert alert-warning"><p><b>Message!</b> Testing.</p></div>

    <% unless logged_in? %><a style="margin-left:10px;" href="/login">Log in</a> to use a recent calibration<% end %>

    <div class="btn-group visible-phone">
      <a class="btn btn-primary btn-large" data-toggle="tab" href="#save" onClick="$W.saveSpectrum();"><i class="icon-white icon-save"></i> Save</a>
      <a class="btn btn-inverse btn-large" onClick="window.open($W.canvas.toDataURL(),'_newtab').focus()"><i class="icon-white icon-download"></i> Download</a>
    </div>

 
  </div>

</div>
