<div data-role="page" id="configure" data-theme="a">
	<div data-theme="a" data-role="header">
		<h3 style="text-align:left;margin-left:15px;">Configure</h3>
	</div>
	<div data-role="content" class="content" style="padding: 15px">
		
		<h3>Connecting to and setting up your webcam</h3>

		<p>Click "Allow" in the upper right corner (in Chrome). You may need to select the correct webcam if you have more than one. <a target="_blank" href="http://publiclab.org/wiki/spectral-workbench-usage#Webcam+selection">Click here</a> to learn how.</p>

	rotate	<img style="float:left;margin-right:20px;" src="/images/calibration-example.png" />
		<p><b>(Beta):</b> Your spectrometer samples just one row of pixels, so adjust this slider until the yellow line intersects the brightest, clearest part of your spectrum. You'll have to point this at a light bulb or bright light source.</p>

		<label for="samplerow-slider">Sample row height (zero = top):</label>
		<input type="range" name="samplerow-slider" id="samplerow-slider" value="240" min="0" max="480" onChange="$W.setSampleRows(parseInt($('#samplerow-slider').val()),parseInt($('#samplerow-slider').val()));$('#heightIndicator')[0].style.height = parseInt(($('#samplerow-slider').val()/480)*240)+'px';"/>

		<br />

		<div id="heightIndicator" style="position:absolute;margin:0;z-index:999;border-bottom:2px solid #ff4;height:120px;width:320px;"></div> 
		<div id="webcam"></div> 
		<a onClick="localStorage.setItem('sw:sample_start_row',$W.sample_start_row)" data-role="button" data-theme="b" href="#capture" data-panel="main">Start capturing spectra</a>

	</div>
</div>
