<div data-role="page" id="configure" data-theme="a">
  <div data-theme="a" data-role="header">
    <h3 style="text-align:left;margin-left:15px;">Configure</h3>
  </div>
  <div data-role="content" class="content" style="padding: 15px">
    
    <h3>Connecting to and setting up your webcam</h3>

    <p>Click "Allow" in the upper right corner (in Chrome). You may need to select the correct webcam if you have more than one. <a target="_blank" href="http://publiclab.org/wiki/spectral-workbench-usage#Webcam+selection">Click here</a> to learn how.</p>

    <div style="width:400px;float:left;">
      <div id="heightIndicator" style="position:absolute;margin:0;z-index:999;border-bottom:2px solid #ff4;height:1px;margin-top:120px;width:320px;"></div> 
      <div style="background:#888;width:320px;" id="webcam"></div> 
    </div>

    <div style="width:400px;float:left;">
      <img src="/images/calibration-example.png" />
      <p>Your spectrometer samples just one row of pixels, so click on the the live preview to the left, so that the yellow line intersects the brightest, clearest part of your spectrum. You'll have to point this at a light bulb or a bright light source.</p>
    </div>

    <br style="clear:both;margin-top:12px;" />
    <a onClick="localStorage.setItem('sw:sample_start_row',$W.sample_start_row)" data-role="button" data-theme="b" href="#capture" data-panel="main">Start capturing spectra</a>

  </div>
</div>

<script>
  (function(){
  $('#webcam').click(function(e){
    percent = parseInt(e.offsetY/$('#webcam').height()*480)
    $W.setSampleRows(percent,percent,true);$('#heightIndicator')[0].style.marginTop = parseInt((percent/480)*240)+'px';
  })
  })()
</script>
