<div data-role="page" id="configure" data-theme="a">
	<div data-theme="a" data-role="header">
		<h3 style="text-align:left;margin-left:15px;">Configure</h3>
	</div>
	<div data-role="content" class="content" style="padding: 15px">

		<p style="display:none;" id="local_calibration">This device has a locally stored calibration. <a href="" id="local_calibration_link">Click here</a> to use it.</p>
		<script>
			if (localStorage.getItem("sw:calibration_id")) {
				$("#local_calibration_link")[0].href = "/capture?calibration_id="+localStorage.getItem("sw:calibration_id")
				$("#local_calibration").show()
			}
		</script>
		<% if logged_in? && current_user.calibrations.length > 0 %>
		<p>Store a calibration in your browser:</p>
		<select id="local_calibration_select">
			<% current_user.tag('calibration').each do |spectrum| %>
			<option value="<%= spectrum.id %>"><%= spectrum.title %> (<%= time_ago_in_words(spectrum.created_at) %>)</option>
			<% end %>
		</select><br />
		<div style="padding:10px 0;">
			<a href="javascript:void()" onClick="localStorage.setItem('sw:calibration_id',$('#local_calibration_select').val())" class="smallbutton">Store calibration</a><br style="clear:both;"/>
		</div>
		<% end %>
		
		<p><b>(Beta):</b> Your spectrometer samples just one row of pixels, so adjust this slider until the yellow line intersects the brightest, clearest part of your spectrum. You'll have to point this at a light bulb or bright light source.</p>

		<label for="samplerow-slider">Sample row height (zero = top):</label>
		<input type="range" name="samplerow-slider" id="samplerow-slider" value="240" min="0" max="480" onChange="$W.setSampleRows(parseInt($('#samplerow-slider').val()),parseInt($('#samplerow-slider').val()));$('#heightIndicator')[0].style.height = parseInt(($('#samplerow-slider').val()/480)*240)+'px';"/>

		<br />

		<div id="heightIndicator" style="position:absolute;margin:0;z-index:999;border-bottom:2px solid #ff4;height:120px;width:320px;"></div> 
		<div id="webcam"></div> 
		<a onClick="localStorage.setItem('sw:sample_start_row',$W.sample_start_row)" data-role="button" data-theme="b" href="#capture" data-panel="main">Save</a>
		<a data-role="button" data-theme="a" href="#capture" data-panel="main">&laquo; Back</a>
	</div>
</div>
