<div class="modal fade" id="intro">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <b>Use a fluorescent bulb spectrum to calibrate your spectrometer</b>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn-large btn-primary" href="javascript:void();">Cancel</a>
se existing calibration</a>
  </div>
</div>
