<div data-role="page" id="save" data-theme="a">
<div data-theme="a" data-role="header">
	<h3 style="text-align:left;margin-left:15px;">Save spectrum</h3>
</div>
<div data-role="content" class="content" style="padding: 15px">
	<% if !logged_in? %>
		<p>You must be <a href="#login">logged in</a> to save spectra. Once logged in, you must refresh this page.</p>
	<% else %>
		<p>(logged in as <%=h current_user.login %>)</p>
	<% end %>

	<form action="/spectrums" method="post" id="saveForm" target="_blank" onSubmit="$W.cancelSave();window.location='#capture'">
		<label for="spectrum_title">Title:</label><br />
		<input name="spectrum[title]" id="spectrum_notes" type="text" /><br />
		<label for="tags">Tags:</label><br />
		<input name="tags" id="spectrum_tags" value="webclient," type="text" /><br />
		<label for="spectrum_notes">Notes:</label>
		<textarea name="spectrum[notes]" id="spectrum_notes"></textarea><br />
		<input name="dataurl" type="hidden" id="dataurl" />
		<input name="geotag" type="hidden" id="geotag" />
		<input name="lat" type="hidden" id="lat" />
		<input name="lon" type="hidden" id="lon" />
		<input name="spectrum[video_row]" type="hidden" id="video_row" />

		<p>
		<label for="device">Choose a device:</label>
		<select name="device" id="device">
			<option value="none">choose a device</option>
			<option value="device:dsk">Desktop Spectrometry Kit</option>
			<option value="device:foldable">Foldable Mini-Spectrometer</option>
			<option value="device:custom">custom spectrometer</option>
		</select>
		</p>

		<% if logged_in? %>
		<label for="calibration_id">Use an existing calibration:</label>
		<select name="spectrum[calibration_id]" id="calibration_id">
			<% current_user.tag('calibration',20).each do |spectrum| %>
			<option value="<%= spectrum.id %>"><%= spectrum.title %> (<%= time_ago_in_words(spectrum.created_at) %>)</option>
			<% end %>
			<option value="calibration">+ New calibration</option>
		</select>
		<% end %>
	</form>
	<a data-role="button" data-transition="fade" data-theme="b" href="javascript:void(0);" onClick="$('#saveForm').submit()">Save</a>
	<a data-role="button" data-transition="fade" data-theme="d" href="#capture" data-panel="main" onClick="$W.cancelSave()">&laquo; Back</a>

</div>
</div>
