<div data-role="page" id="login" data-theme="a">
	<div data-theme="a" data-role="header">
		<h3 style="text-align:left;margin-left:15px;">Search for spectra</h3>
	</div>
	<div data-role="content" class="content" style="padding: 15px">
	
		<form action="/spectra/search" method='get'>
			<input class='text' type='text' name='q' value=''/>
		</form>

		<p>
			<input data-theme="b" data-ajax="false" name="commit" type="submit" value="Log in" />
			<a data-role="button" data-transition="fade" data-theme="d" href="#capture">&laquo; Back</a>
		</p>
	</div>
</div>
