<div data-role="page" id="tools" data-theme="a">
<div data-theme="a" data-role="header">
	<h3 style="text-align:left;margin-left:15px;">Tools</h3>
</div>
<div data-role="content" class="content" style="padding: 15px">
	<div id="notify"></div>
	<!--<a data-role="button" data-theme="a" href="javascript:void()" onClick="">Calibrate</a>-->

	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<label for="geotag-toggle">Geotag</label>
			<input data-theme="a" type="checkbox" name="geotag-toggle" id="geotag-toggle" type="checkbox" />
			<label for="rgb-toggle">RGB</label>
			<input data-theme="a" type="checkbox" name="rgb-toggle" id="rgb-toggle" onChange="$W.toggle_mode()" />
			<label for="flip-toggle">Autoflip</label>
			<input checked=true data-theme="a" type="checkbox" name="flip-toggle" id="flip-toggle" onChange="$W.toggle_flip()" />
		</fieldset>
	</div>
	<div data-role="collapsible-set" style="padding:8px;">
		<div data-role="collapsible" data-collapsed="true">
			<h3>Analysis</h3>
			<a data-role="button" data-theme="a" onClick="$W.mark()">Mark wavelength</a>
			<a data-role="button" data-theme="a" href="#search">Compare</a>
			<a data-role="button" data-theme="a" href="#macros">Macros</a>
		</div>
	</div>

	<p><a href="https://github.com/jywarren/spectral-workbench">SpectralWorkbench is free software</a> by <a href="http://publiclaboratory.org">Public Lab</a> Your input is invaluable! See <a href="https://github.com/jywarren/spectral-workbench/issues">Github issues</a> to help design/refine/debug new features.<p>

	<a onClick="setTimeout(function(){$('#samplerow-slider').val($W.sample_start_row)},500)" data-icon="gear" data-role="button" data-theme="a" href="#configure" data-panel="main">Configure</a>
	<% if !logged_in? %><a data-role="button" data-theme="b" href="#login" data-panel="main">Log in</a><% end %>

	<p>This interface works on <a href="https://www.google.com/intl/en/chrome/browser/">Chrome 21+</a>, Opera, and any browser which supports the HTML5 getUserMedia() call. <a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Mobile</a> for Android also works! Don't see anything? <a href="http://publiclaboratory.org/wiki/spectral-workbench-web-video">Check if your browser is supported</a></p>

</div>
</div>
