<div class="container-fluid">
  <div class="span4">
    <%= render :partial => "spectrums/search" %>
    <hr />
  </div>

  <div class="span8">
    <h2>Recent sets <small class="hidden-phone">by contributors like you</small></h2>
    <%= render :partial => 'spectrums/sets', :locals => {:row => 3} %>
    <hr />
    <%= will_paginate @sets, renderer: BootstrapPagination::Rails %>
  </div>
</div>
