<div id="match"></div>

    <script>

	var spectra = [<%= @spectrum.id %>]
        $.ajaxSetup ({ cache: false }); 

	var ajax_load = "<img src='/images/spinner-small.gif' alt='loading...' />";

	$("#compareForm").submit(function(){
		var url = "/spectrums/compare/<%= @spectrum.id %>?q="+$("#searchinput").val();
		$("#result").html(ajax_load).load(url);
	});

    </script>
