<div class="container-fluid">
<h1>New set</h1>

<div id="spectra" class="pull-right span6">
<% params[:id].split(',').each do |s| %>
  <% spectrum = Spectrum.find s %>
<img src="<%= spectrum.photo.url(:thumb) %>" />
<% end %>
</div>
<div class="span6">

<br />

<form action="/sets/create/<%= params[:id] %>" class="form" id="new_spectra_set" method="post">

  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>"/>
  
  <input placeholder="Title" id="spectra_set_title" name="spectra_set[title]" size="30" type="text" value="" />
  <br />
  <textarea placeholder="describe your set" cols="40" name="spectra_set[notes]" rows="10"></textarea>

  <br />
  <button class="btn-large btn-primary" type="submit">Save</button>
</form>

</div>
</div>
