<div class="">

  <h5>Macros &amp; Scripting</h5>

  <p><a class="macros">Macros</a> are small scripts that allow you to manipulate or transform your data. Use those shared by others or <a href="//publiclab.org/wiki/spectral-workbench-api">write your own in JavaScript</a>.</p>

  <form class="form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
  </form>

  <h5>Most popular</h5>

  <p>Coming soon</p>

</div>
