<h3 class="title"></h3>

<p class="attribution">by <a class="author" href=""></a> | <a class="link" href="">Read more &raquo;</a></p>

<p class="description"></p>

<hr />

<div class="body">

  <!-- much of this could be moved into SpectraPane -->
  <div class="search" style="display:none;">
    <form class="form-search">
      <div class="pull-right">
        <select name="own" class="select-author">
          <option value="true" selected>Your spectra</option>
          <option value="false">All spectra</option>
        </select>
      </div>
      <input type="text" class="input-medium input-choose-spectrum" placeholder="search">
      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div class="custom">
  </div>

  <div class="results" style="display:none;">
  </div>

</div>

<hr />

<div class="actions">

  <p>
    <a class="cancel">cancel</a>
    <button class="btn btn-primary btn-apply">Apply</button>
  </p>

</div>

<script>
$(document).ready(function() {

  $(".swb-datum-tool-pane .results .pagination a").click(function() {
    $('.swb-datum-tool-pane .results').load($(this).attr("href"));
    return false;
  });

});
</script>
