<div class="container">

  <div class="span9">

  <% if params[:action] == "author" %>
  <ul class="breadcrumb">
    <li><a href="/macros">Macros</a> <span class="divider">/</span></li>
    <li><%= @user.login %></li>
  </ul>
  <h2>Macros by <a href="<%= profile_path(@user.login) %>"><%= @user.login %></a></h2>
  <% else %>
  <h2>All Macros</h2>
  <% end %>

  <p>Use the <a href="http://publiclab.org/wiki/spectral-workbench-api">Spectral Workbench API</a> to create, save, and share macros to manipulate your spectra and add new features to Spectral Workbench.</p>
  <p><a class="btn btn-large btn-primary" href="/macros/new"><i class="fa fa-white fa-plus"></i> New macro</a></p>

  <%= render :partial => "macros/list" %>

  </div>

</div>
