*.swp
*.swo
*.db
*.pid.lock
*.log
*.local
.DS_Store
*.sql
backup.sh
log/
tmp/*
tmp/**/*
todo
db/schema.rb
config/database.yml
config/config.yml
config/amazon_s3.yml
public/system*
config/initializers/recaptcha.rb
config/initializers/site_keys.rb
