<div class="container">

<h2>Tags</h2>

  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Count</th>
    </tr>
    <% @tagnames.each do |name,count| %>
    <% if tag = Tag.find_by_name(name, :order => "id DESC") %>
    <% if tag.spectrum %>
    <tr>
      <td><img width="120px" class="img" src="<%= tag.spectrum.photo.url(:thumb) %>" /></td>
      <td><a href="/tag/<%= name %>"><%= name %></a></td>
      <td><%= count %></td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
  </table>

</div>
