<div class="spectrum-tools-container"> 
  <div class="spectrum-tools dropup"> 
    <a data-toggle="dropdown" class="dropdown-toggle settings" href="#"><i class="icon icon-cog"></i></a>
    <ul class="dropdown-menu" role="menu">
      <li><a>Tool A</a></li>
      <li class="divider"></li>
      <li><a>Tool B</a></li>
    </ul>
  </div>
</div>
