<div id="embed" class="sets">
<div id="graph"></div>

<script type="text/javascript">

  var graph;
  jQuery(document).ready(function($) {
    graph = new SpectralWorkbench.Graph({ set_id: <%= @set.id %> });
  })

</script>

<%= render :partial => "embed/body", :locals => {:type => :set, :datum => @set } %>
</div>

