<div id="embed">
<img class="spectrum" src="<%= @spectrum.photo.url(:large) %>" />

<div id="graph"><i class="icon icon-spinner icon-spin"></i></div>

<script type="text/javascript">

  var graph;
  jQuery(document).ready(function($) {
      graph = new SpectralWorkbench.Graph({ spectrum_id: <%= @spectrum.id %> });
  })

</script>
<%= render :partial => "embed/body", :locals => {:type => :spectrum, :datum => @spectrum } %>
</div>
