
#match p {
	font-weight:bold;
	padding:8px;
	margin:8px 0;
	color:#0a0;
	background:#afa;
        -moz-border-radius-topleft:5px;
        -webkit-border-top-left-radius:5px;
        -moz-border-radius-bottomleft:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-topright:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-bottom-right-radius:5px;
	border-radius:5px;
}

#notify {
	padding:0;
	margin:0;
}
.notify {
	color:#0a0;
	background:#afa;
	padding:6px;
        -moz-border-radius-bottomleft:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-bottom-right-radius:5px;
	border-top:4px solid #0a0;
}
.notify.warning { 
	color:#c62; 
	background:#FCFCB3; 
	border-top:4px solid #c62;
}
.notify.error { 
	color:#a52; 
	background:#FCFFB3; 
	border-top:4px solid #a52;
}

#results {
	margin-top:12px;
}
.spectrum.capture {
	padding:12px;
	background:#222;
        -moz-border-radius-topleft:8px;
        -webkit-border-top-left-radius:8px;
        -moz-border-radius-bottomleft:8px;
        -webkit-border-bottom-left-radius:8px;
        -moz-border-radius-topright:8px;
        -webkit-border-top-right-radius:8px;
        -moz-border-radius-bottomright:8px;
        -webkit-border-bottom-right-radius:8px;
	float:left;
	margin: 0 8px 8px 0;
	width:100px;
}
.spectrum.capture a {
	color:white;
}
.spectrum.capture a:hover {
	color:#ddd;
}
.spectrum.capture h4 {
	margin:4px 0 0 0;
}
.spectrum.capture:hover {
	color:#ccc;
	background:#333;
}

