<div id="spectra" class="container">

<% if params[:action] == "index" %>
  <h2>Popular spectra <small>| <a href="/popular/recent">Recently liked</a></small></h2>
<% else %>
  <h2>Recently liked spectra <small>| <a href="/popular">Most popular</a></small></h2>
<% end %>

<hr />

<div class="row-fluid">
  <style>._row { clear:left;} </style>

  <%= render :partial => 'spectrums/list', locals: { spectrums: @spectrums } %>
  <%= will_paginate @spectrums, renderer: BootstrapPagination::Rails %>
</div>
</div>

