<div class="container">
  <h1>You are offline</h1>

  <hr />

  <p>You are currently not connected to the internet. You can still capture spectra in offline mode, but you will be prompted to download them as images for later upload instead of their being automatically uploaded and shared.</p>

  <p>You will still be able to calibrate them once you get an internet connection again.</p>

  <p><a class="btn btn-large btn-primary" href="/capture"><i class="icon-white icon-camera"></i> Capture spectra</a></p>

  <br style="clear:both;" />

</div>
