<% if logged_in? %>

	<p><a href="http://publiclaboratory.org/people/<%= @user.login %>">Public Lab profile &raquo;</a></p>

	<b>Login:</b> 
	<%=h @user.login %>

	<% if logged_in? && current_user.role == "admin" %>
	<br />
	<b>Email:</b> 
	<%=h @user.email %>
	<% end %>

	<br />
	<b>Signed up:</b> 
	<%=h time_ago_in_words(@user.created_at) %> ago

<% end %> 
