<div class="container">
  <h1>Load your calibration</h1>

  <p>Use the code which came with your precalibrated spectrometer.</p>

  <form action="/device/claim" class="form">
    <input style="font-size:1.4em;height:1.4em;" placeholder="key" type="text" name="key" />
    <br />
    <button class="btn-large btn-primary" type="submit">Claim</button>
  </form>
</div>
