default: &default
  encoding: utf8
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  port: 3306
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  host: db
  username: root
  password: root
  database: swbench_development

production:
  encoding: utf8
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['DATABASE_HOST'] || 'db' %>
  username: <%= ENV['DATABASE_USER'] || 'swbench' %>
  password: <%= ENV['DATABASE_PASSWORD'] || 'swbench' %>
  database: <%= ENV['DATABASE_NAME'] || 'swbench' %>
  socket: <%= ENV['DB_SOCKET'] %>
  timeout: 5000

test:
  <<: *default
  host: db
  username: root 
  password: root
  database: swbench_test
