default: &default
  encoding: utf8
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  
development:
  <<: *default
  host: 127.0.0.1
  database: swbench_development

production:
  adapter: mysql2
  database: production.db

test:
  <<: *default
  host: 127.0.0.1
  database: swbench_test
