<h3>Choose an image to upload</h3>
 
<p>Take a picture through <a href="http://publiclab.org/tool/spectrometer">your spectrometer</a> and upload it. (Android or iOS 6+)</p> 

<div class="control-group" id="photo">
  <input id="inputPhoto" name="spectrum[photo]" size="30" type="file" />
  <span class="help-inline"></span>
</div>

<p>
  <label rel="tooltip" title="Are colors arrayed vertically as in the examples, or horizontally?" class="checkbox inline">
    <input type="checkbox" id="vertical" name="vertical" checked="true" /> Spectrum is vertical (see examples below)
  </label>
</p>

<p><a href="http://publiclab.org/wiki/spectral-workbench-usage">Learn more &raquo;</a></p>

<div class="row-fluid">

  <div class="span7">
    <p><b>Vertical, blue on top:</b></p>
    <img class="img-rounded" src="/images/example-cfl.jpg" style="width:100px;height:80px" />
    <img class="img-rounded" src="/images/example-sky.jpg" style="width:100px;height:80px" />
  </div>

  <div class="span5">
    <p><b>Horizontal, blue left:</b></p>
    <img class="img-rounded" src="/images/example-cfl-horizontal.jpg" style="width:100px;height:80px" />
  </div>

</div>

<p><i>Be sure your flash is off!</i></p>
