<div data-theme="d" data-role="header"><p style="margin:10px;">
  <b>SpectralWorkbench</b> is <a href="https://github.com/jywarren/spectral-workbench">open source software</a>. Switch to the <a href="?m=false">full website</a>.
</p></div>
