<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SpectralWorkbench</title>
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="/stylesheets/mobile.css" />
        <script src="/javascripts/jquery.min.js">
        </script>
        <script src="/javascripts/jquery.mobile-1.1.0.min.js">
        </script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.js"></script> 
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
	<%= javascript_include_tag "application" %>
        <script>
          $(document).ready(function() {
            // disable ajax nav
            $.mobile.ajaxLinksEnabled = false;
          });
        </script>
    </head>
    <body>
    <%= yield %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30020531-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
