<script src="/javascripts/getUserMedia.js"> </script>
<script src="/javascripts/capture.js"> </script>

<br />

<div id="capture">
	<div id="captureControls">
		<a class="button" href="javascript:void(0);" onClick="$W.saveSpectrum()">Save</a>
		<p><a href="javascript:void(0);" onClick="$('#webcam').toggle()">Webcam preview</a> | Flash video not working? Learn how to <a href="http://publiclaboratory.org/wiki/spectral-workbench-web-video">enable native webcam access</a> in the Google Chrome browser</p>
	</div>

	<canvas width="640px" id="canvas"></canvas> 
	<br />
	<div id="graph" style="width:830px;height:200px;"></div>

	<div style="width:200px;display:none;" id="webcam"></div> 

</div>

<script> (function () { 
	$W.initialize()
	setInterval($W.getRow,500)
})() </script>
<div id="save" style="display:none;">

<h2>Save this spectrum</h2>

<p>You must be <a target="_blank" href="/login">logged in</a> to save spectra.</p>
<p><a href="javascript:$('#save').hide();$('#capture').show();">cancel</a></p>

<form action="/spectrums" method="post">
	<label for="spectrum_title">Title:</label><br />
	<input name="spectrum[title]" id="spectrum_notes" type="text" /><br />
	<label for="spectrum_notes">Notes:</label><br />
	<input name="spectrum[notes]" id="spectrum_notes" type="text" /><br />
	<input name="dataurl" type="hidden" id="dataurl" />
	<input type="submit" value="Save" />
</form>
</div>

