<div id="spectra" class="container">

<h2>Popular spectra</h2>

<div class="row-fluid">
  <div class="span4 pull-right">
    <%= render :partial => 'spectrums/search' %>
  </div>

  <style>._row { clear:left;} </style>

  <div class="span8">
    <%= render :partial => 'spectrums/list' %>
    <%= will_paginate @spectrums %>
  </div>
</div>
</div>

