#comments {
  padding: 4px;
}

#comments .header {
  font-size: 12px;
  color: #888;
  border: 1px solid #eee;
  border-bottom: none;
  background: #f8f8f8;
  padding: 8px 10px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius:    5px 5px 0 0;
  border-radius:         5px 5px 0 0;
}

#comments .header a .icon {
  color: #888;
}

#comments .header .pull-right a:hover {
  text-decoration: none;
  color: #555;
}

#comments .header a.anchor {
  color: #888;
}

#comments .body {
  margin: 0 0 10px;
  border: 1px solid #eee;
  border-top: none;
  padding: 10px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius:    0 0 5px 5px;
  border-radius:         0 0 5px 5px;
}

#comments textarea {
  width: 80%;
}

#comments .fa-spinner {
  color: #888;
  margin-left: 4px;
}
