body {
  padding: 0;
}

h2 {
  text-align:center;
}
h2 a {
  color:#444;
}

.col {
  padding:10px;
}

.axis text, .nv-axis {
  fill: #888;
}

.nvtooltip table {
  font-size:11px;
  padding:8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}
