#embed {
  font-size: 12px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  padding: 30px 10px 10px;
}

#embed a.btn-link {
  text-decoration:none;
}

#embed h3.compact {
  display: none;
}

#embed.compact img {
  display: none;
}

#embed.compact h2 {
  display: none;
}

#embed.compact h3.compact {
  display: block;
  float: left;
  margin-top: 12px;
  padding-right: 12px;
}

#embed.compact .table-scroll-container {
  display: none;
}

/* flip to image button */
#embed.compact .tools.compact {
}

#embed .credit {
  float: right;
  padding: 20px 10px 0 0;
}

#embed .credit .spectral-workbench a {
  color: #444;
  font-size: 15px;
  font-family: Junction Light;
}
#embed .credit .spectral-workbench a:hover {
  color: #888;
}

#embed .credit img {
  height: 16px;
  display: inline-block;
  padding-bottom: 4px;
}

#embed .credit .super-tiny {
  display: none;
}

@media (max-width: 400px) {

  #embed .credit {
    float: none;
  }

  #embed .credit .spectral-workbench {
    display: block;
  }

  #embed .tools {
    clear: both;
    width: 100%;
  }

}

@media (max-height: 300px) and (max-width:500px) {

  #embed .credit {
    float: right;
  }

  #embed .credit .spectral-workbench .super-tiny {
    display: inline;
  }

  #embed .credit .spectral-workbench .normal {
    display: none;
  }

  #embed .credit .spectral-workbench {
    display: inline;
  }

}

#embed .settings {
  margin-left: 4px;
}

#embed .settings .icon {
  color: #aaa;
}

#embed .tools {
  padding: 20px 10px 0 0;
  font-size: 14px;
}

#embed .tools a {
  padding: 0 5px;
}

#embed .tools a {
  text-decoration: none;
}

#embed .tools a:hover .icon {
  color: #88f;
}

#embed .tools div.dropup {
  display: inline;
}

#embed table th {
  border-top: 0;
}

#embed table div.key {
  width: 10px;
  height: 10px;
  margin-top: 5px;
  background: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
}

#embed table tr.highlight {
  background: #fff8dd;
}

#embed table a.btn-link {
  font-size: 12px;
  padding: 0 4px;
}

#embed table a.btn-link:hover .icon {
  color: #888;
}

#embed .table-scroll-container {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

#embed .spectrum-tools-container {
  position:absolute;
}

svg .highlight {
  stroke:red !important;
}

#embed .spectrum-tools {
  text-align:center;
  position:absolute;
}
