@font-face {
    font-family: 'junctionregular';
    src: url('/lib/junction/webfonts/junction-regular.eot');
    src: url('/lib/junction/webfonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('/lib/junction/webfonts/junction-regular.woff') format('woff'),
         url('/lib/junction/webfonts/junction-regular.ttf') format('truetype'),
         url('/lib/junction/webfonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junction Light';
    src: url('/lib/junction/webfonts/junction-light.eot');
    src: url('/lib/junction/webfonts/junction-light.eot?#iefix') format('embedded-opentype'),
         url('/lib/junction/webfonts/junction-light.woff') format('woff'),
         url('/lib/junction/webfonts/junction-light.ttf') format('truetype'),
         url('/lib/junction/webfonts/junction-light.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,.lead {
  font-family:Junction Light, lucida grande,lucida sans console,sans-serif;
  font-weight:normal;
}

@media (max-width: 767px) {
  div.tab-content.capture {
    padding:0 !important;
  }

  .navbar-inner {
    margin-right: -40px !important;
  }
}

.tooltip,
h3 small,
h4 small,
h5 small {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label.purple {
  background: #a6c;
}

.fa {
  color:black;
}

.fa-white {
  color:white;
}

#header {
  padding:8px 0 3px 0;
  height:60px;
}
#header #logo img {
  float:left;
  margin:10px;
  padding-left:10px;
  height:30px;
}
#header #logo.mobile img {
  padding-left:0;
}
#header div.btn-group {
  margin:4px;
  padding-right:17px;
}
#header div.btn-group.mobile {
  padding-right:0px;
}
#header .fa-camera {
  margin-right:6px;
}
#header ul.nav {
  margin:10px;
}
#header h3 a {
  color:#444;
}
#header h3 a:hover {
  color:#222;
}

.capture-navbar.red .navbar-inner {
  background: #b00;
}

.capture-navbar.red .nav .active a {
  background-color: #900; !important
}

#display {
  background:#444;
}
#display #graph {
  margin:10px;
}

.label a {
  color:white;
}

.pagination {
  clear:both;
  padding-top:10px;
}

footer {
  padding-bottom:200px;
  color:#777;
}

footer b {
  color:#444;
}

footer div {
  padding:10px 10px 30px;
}
