@font-face {
    font-family: 'junctionregular';
    src: url('/lib/junction/webfonts/junction-regular.eot');
    src: url('/lib/junction/webfonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('/lib/junction/webfonts/junction-regular.woff') format('woff'),
         url('/lib/junction/webfonts/junction-regular.ttf') format('truetype'),
         url('/lib/junction/webfonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,.lead {
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
  font-weight:normal;
}

@media (max-width: 767px) {
  div.tab-content.capture {
    padding:0 !important;
  }

  .navbar-inner {
    margin-right: -40px !important;
  }
}

.icon {
  color:black;
}

.icon-white {
  color:white;
}

#header {
  padding:8px 0 3px 0;
  height:60px;
}
#header #logo img {
  float:left;
  margin:10px;
  padding-left:10px;
  height:30px;
}
#header #logo.mobile img {
  padding-left:0;
}
#header div.btn-group {
  margin:4px;
  padding-right:17px;
}
#header div.btn-group.mobile {
  padding-right:0px;
}
#header ul.nav {
  margin:10px;
}
#header h3 a {
  color:#444;
}
#header h3 a:hover {
  color:#222;
}

#display {
  background:#444;
}
#display #graph {
  margin:10px;
}

.label a {
  color:white;
}

.pagination {
  clear:both;
  padding-top:10px;
}

footer {
  padding-bottom:200px;
  color:#777;
}

footer b {
  color:#444;
}
