body {
	background:#333;
}

#buttons {
	position:absolute;
	display:block;
	bottom:10px;
	left:10px;
	padding:8px;
}

.button {
	font-size:1.4em;
	margin-right:8px;
	padding:8px;
	background:rgba(255,255,255,0.8);
	font-family:helvetica,arial,sans-serif;
	color:#222;
}

a.button:hover {
	background:#44a;
}

