body {
	background:#333;
}

.note {
	line-height:1.3em;
	background:rgba(255,255,255,0.5);
	font-style:italic;
	position:absolute;
	padding:8px;
	font-family:helvetica,arial,sans-serif;
	color:#222;
}

#buttons {
	position:absolute;
	display:block;
	bottom:10px;
	left:10px;
	padding:8px;
}

.button {
	font-size:1.4em;
	margin-right:8px;
	padding:8px;
	background:rgba(255,255,255,0.8);
	font-family:helvetica,arial,sans-serif;
	color:#222;
}

a.button:hover {
	background:#44a;
}

a.tool {
	text-decoration:none;
	font-weight:bold;
}

