<h3>Compare your live feed with existing spectra</h3>

<div>

  <form id="search_form" action="javascript:void(0);" method='get'>
    <input id='search_term' class='text' type='text' name='q' value=''/>
    <br />
    <a class="btn btn-large btn-primary" onClick="$('#search_form').submit()">Search</a>
    <a class="btn btn-large" href="#capture" data-toggle="tab">&laquo; Back</a>
    <% if logged_in? %>
      <br />
      <label rel="tooltip" title="Subtract this from live feed" class="checkbox inline">
        <input type="checkbox" id="baseline-toggle" name="baseline-toggle" /> Subtract from live spectrum
      </label>
    <% end %>
  </form>

  <div id="results">
    <h3>Recent spectra (<a href="javascript:void()" id="refresh_recent">refresh</a>)</h3>
    <div class="container-fluid">
      <%= render :partial => "results" %>  
    </div>
  </div>

  <script> 
    $('#search_form').submit(function() {
      $('#results').load("/spectra/search/"+$('#search_term').val()+"?capture=true")
    })
    $('#refresh_recent').click(function() {
      $('#results').load("/spectra/recent/?capture=true")
    })
  </script>

</div>
